<html>
 <head>
	<title>Your application is Up and running!</title>
	<link rel="stylesheet" href="/talesRes/css/first.css" type="text/css" />
</head>
<body> 
	<div align="center">
		<div class="main-div" align="center">
				<div class="up-and-running">
					You're Up and Running.
				</div>
				
			<div class="desc-div">
					<div id="wrapper"  align="left">
						<div align="left" class="head-line">
							How Do I connect to database?
						</div>
						<div class="desc-text">
							 Open Settings.fan file in your application's conf directory. Set values for "db-host-string", "db-username", "db-password".
						</div>
						
						<div align="left" class="head-line">
							What Next?
						</div>
						<div class="desc-text">
							Start by modifying the Index.html and Index.fan Files. You can define more routes in the Routes.fan file in your application's "conf" directory. 
						</div>
						
						<div align="left" class="head-line">
							Need Help?
						</div>
						<div class="desc-text" >
							Head To talesframework.org for tutorial videos. or Just mail me kaushik.sathupadi@gmail.com
						</div>
						
						<div class="bottom-link">
							<img src="/talesRes/images/video3.png" height="24px" align="top"/>
							<a href="http://vimeo.com/16453080" class="watch-video">Watch the introduction video</a>
						</div>
					</div>
			</div>
		</div>
	</div>
</body>
</html>